:root {
  --clr-background: rgb(41, 32, 32);
  --clr-text-primary: white;
}

.logo {
  font-size: 1.2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.project {
  display: grid;
}

nav {
  display: flex;
  flex-direction: row;
  justify-self: stretch;
}

nav a {
  padding: .5em 1em;
  white-space: nowrap;
}

nav a:hover {
  background-color: rgb(41, 32, 32);
  color: white;
}

nav > div {
  padding: 1em 0 0 0;
  width: auto;
}

nav > div:nth-child(2) {
  margin-left: auto;
}

.container {
  /* background-color: var(--clr-background); */
  /* color: var(--clr-text-primary); */
  padding: 0 3%;
  display: grid;
  gap: 2em;
  grid-auto-columns: 1fr minmax(18em, auto);
  grid-template-rows: minmax(1.5em, auto) 1fr minmax(2em, auto);
  grid-template-areas:
  "nav"
  "tools"
  "projectsGrid"
  "footer";
}

.container > nav {
  grid-area: nav;
}

.projectsGrid {
  grid-area: projectsGrid;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: flex-start;
}

.input-row {
  width: min(600px, 95%);
  grid-area: tools;
  justify-self: center;
  display: grid;
  gap: 0.5em;
  grid-template-columns: minmax(320px, 1fr) 80px;
  align-items: center;
}

.input-row-interactive {
  width: min(600px, 95%);
  grid-area: tools;
  justify-self: center;
  display: grid;
  gap: 0.5em;
}

.card {
  border: 1px solid teal;
  border-radius: 1rem;
  padding: 1em
}

@media (max-width: 600px){
  .container {
    padding: 0 1em;
    gap: 1em;
  }
  .tools {
    grid-area: tools;
    display: grid;
    gap: 0;
    grid-template-columns: auto;
  }
  .logo {
    display:none;
  }
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: flex; /* Hidden by default */
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  overflow: hidden;
}

.overlay-content {
  display: inline-block;
  width: 600px;
  height: 80%;
  background-color: white;
  padding: 1.5em;
  border-radius: 10px;
  border: 1px solid black; 

  animation-duration: .3s;
  animation-name: magnify;
}

.overlay-button {
  position: fixed;
  border-radius: 40px;
  right: 5%;
  bottom: 5%;
  z-index: 5;
  overflow: hidden;
}

@keyframes slidein {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}
@keyframes magnify {
  from {
    transform: scale(1.5);
    opacity: 0;
  }

  to {
    transform: scale(1.0);
    opacity: 1;
  }
}